DATABASE_URL=
DEBUG=True
SECRET_KEY=django-insecure-nwk9s8d7f6g5h4j3k2l1z0x9c8v7b6n5m4q3w2e1r0t9y8u7i6o5p4
OLLAMA_BASE_URL=http://localhost:11434
# Set to True to use 'medllama2', False to use 'tinyllama' (or other custom OLLAMA_MODEL)
USE_MEDLLAMA=False
# OLLAMA_MODEL=medllama2 (Optional, if USE_MEDLLAMA=True)
OLLAMA_TIMEOUT=120
USE_WORKER=False
ALLOWED_HOSTS=*

