global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "django"
    metrics_path: /metrics
    static_configs:
      - targets: ["backend:8000"]
        labels:
          service: "lung-disease-backend"

  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
